span.MuiStepLabel-label.Mui-active.css-farnub {
  color: rgb(14, 135, 80);
  font-size: 3rem;
}

p.MuiTypography-root.MuiTypography-body1.css-9l3uo3 {
  color: rgb(14, 135, 80);
  font-size: 1.5rem;
}

span.MuiStepLabel-label.Mui-active.css-qivjh0-MuiStepLabel-label {
  color: rgb(14, 135, 80);
  font-size: 1.9rem;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.Mui-active.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: rgb(14, 135, 80);
  height: 3rem;
}

span.MuiStepLabel-label.Mui-disabled.css-qivjh0-MuiStepLabel-label {
  color: rgb(14, 135, 80);
  font-size: 1.9rem;
}

text.MuiStepIcon-text.css-117w1su-MuiStepIcon-text {
  color: rgb(14, 135, 80);
}

p.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
  color: rgb(14, 135, 80);
  font-size: 1.2rem;
}

.Mui-active span,
.css-16ubnlw-MuiStepLabel-labelContainer,
.root,
span.MuiStepLabel-labelContainer {
  color: rgb(14, 135, 80);
}

.containerContent {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contentLeft {
  width: 30%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f0f0f5;
}

.contentRight {
  width: 70%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
